# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# Agent
.gemini/

# IDEs
.vscode/
.idea/
